/* @media screen and (min-width: 600px) {
  .index-header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
} */

.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-discover-campgrounds {
  margin-bottom: 2rem;
}

.home-wrapper {
  width: 66%;
  margin-top: 6rem;
  margin-bottom: 2rem;
}

.home-title {
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.search-wrapper {
  width: 66%;
  height: 100px;
  padding: 17px;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  margin-bottom: 4rem;
}

.search-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.listing-search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #ebebeb;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  padding-left: 1rem;
  padding-right: 1rem;
}

.listing-search-input:focus {
  outline: none;
}

#listings {
  height: 66px;
  width: 100%;
  border: none;
}

.dates-btn, .categories-btn {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ebebeb;
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  height: 66px;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.dates-btn:hover, .categories-btn:hover {
  border-color: #ebebeb;
  background-color: transparent;
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.1);
  transition: all 0.2s ease 0s;
}



.search-btn {
  width: 110px;
  margin-left: 1rem;
  height: 66px;
  background-color: #40d9ac;
	color: white;
	font-size: 1rem;
	cursor: pointer;
	transition: all 0.25s ease 0s;
	border: 1px solid #40d9ac;
	font-weight: 700;
}

.search-btn:hover {
  width: 110px;
  margin-left: 1rem;
  height: 66px;
  background-color:white;
	color: #40d9ac;
	transition: all 0.25s ease 0s;
	border: 3px solid #40d9ac;
	font-size: 1rem;
	font-weight: 600;
}

.input-i {
  padding-right: 0.5rem;
}

.input-i-chev {
  padding-left: 0.5rem;
}

/* Campground Tiles Styles */

.campgrounds-wrapper {
  width: 66%;
}

.index-dc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.campground-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 32%;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  max-height: 320px;
  cursor: pointer;
  height: 320px;
  margin-bottom: 1rem;
}

.campground-tile:hover {
  background-color: #f9f9f9;
	transition: all 0.075s ease 0s;
}

.tile-picture {
  min-height: 200px;
  background-color: #ebebeb;
  background-position: center center;
  border-radius: 4px 4px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.tile-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.6rem;
}

.tile-name {
  font-size: 1rem;
}

.tile-description {
  flex-grow: 1;
  color: #757575;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile-description small {
  font-size: .9rem;
}

.tile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.tile-recommend {
  color: #40d9ac;
  font-size: .9rem;
}

.recommend-text {
  color: #757575;
}

.price {
  font-size: 1.05rem;
}

