.checkout-modal-wrapper {
  width: 80vw;
  height: 80vh;
  overflow-y: auto;
}

.checkout-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px #ebebeb;
}

.checkout-header-left {
  display: flex;
  align-items: center;
  font-size: .9rem;
  color: #757575;
  padding: .6rem 0 1.4rem
}

.clickcamp-text-modal {
	width: 150px;
  height: 19px;
  margin-right: 1rem;
}

.checkout-header-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: white;
  border: solid 1px #ebebeb;
  font-weight: 600;
  font-size: .9rem;
}

.checkout-timer {
  font-size: 1.3rem;
  color: #ec6e67;
  font-weight: 600;
}

.checkout-rulebook-wrapper {
  list-style: none;
  padding: .5rem 0 0 .5rem;
}

.checkout-rulebook {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkout-rulebook h1 {
  font-weight: 300;
}

.checkout-rulebook-item {
  position: relative;
  display: flex;
  align-items: center;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.05);
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);
  padding: 1rem 1rem 1rem 2.5rem;
  margin: 0 0 2rem .5rem;
}

.checkout-rulebook-item span {
  font-size: 1.8rem;
}

.checkout-badge {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -12.5px;
  left: -12.5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #40d9ac;
}

.na {
  background-color: #ec6e67;
}

.checkout-rulebook-text {
  margin:  0 3rem;
  text-align: left;
}

.checkout-regular-text:first-child {
  padding-bottom: .5rem;
}

.checkout-gray-text {
  color: #757575;
}

.checkout-deets {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 1rem;
  border: solid 1px #ebebeb;
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,0.05);
  box-shadow: 0 5px 5px rgba(0,0,0,0.05);
}

.checkout-deets-header {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.checkout-deets-header-text {
  position: absolute;
  width: 50%;
  text-align: left;
  background: #40d9ac;
  color: white;
  border-radius: 0 0 2rem;
  padding: 1rem;
}

.summary-photo {
  height: 250px;
  object-fit: cover;
}

.checkout-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 1rem;
}

.checkout-summary-item, .checkout-submit, .checkout-deets-header-text-left {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 300;
}

.total {
  font-weight: 600;
  margin-top: 2rem;
}