.discover-wrapper {
  margin-top: 70px;
  display: flex;
}

#discover-listings {
  width: 66.66%;
  padding: 0 .5rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#map-wrapper {
  position: sticky !important;
  top: 70px;
  width: 33.33%;
  border-radius: 4px;
  overflow: hidden;
}