.discover-wrapper {
  margin-top: 70px;
  display: flex;
}

#discover-listings {
  width: 66.66%;
  padding: 0 .5rem;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

#map-wrapper {
  position: sticky !important;
  top: 70px;
  width: 33.33%;
  border-radius: 4px;
  margin-right: 1rem;
  overflow: hidden;
  -moz-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 12px 0px rgba(0,0,0,0.1);
}

.alert-no-results {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  background: #fdf0ef;
  color: #c44841;
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}