footer {
  background-color: #41305C;
  background-image: url('https://app-name-seeds.s3-us-west-1.amazonaws.com/mountain.svg');
  background-position: bottom center;
  background-repeat: repeat-x;
}

.main-footer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  color: #fff;
  font-size: 1rem;
  margin-bottom: 4rem;
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.footer-content {
  width: 66%;
}

.footer-left {
  width: 66%;
}

.footer-left h1 {
  font-size: 1.5rem;
  color: #a776a6;
  letter-spacing: 0.05rem;
  font-weight: 400;
}

.footer-left p {
  margin-top: 1rem;
  margin-bottom: 10rem;
  font-weight: 300;
  color: white;
}

.footer-secondary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-top: 5px solid #fde0ab;
  background-color: #3e7e95;
  color: white;
  min-height: 2rem;
}

.footer-secondary-content {
  display: flex;
  justify-content: space-between;
  width: 66%;
  font-size: .8rem;
  padding: .5rem 0;
}