.index {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index-discover-campgrounds {
  margin-bottom: 2rem;
}

.home-wrapper {
  width: 75%;
  margin-top: 8rem;
  margin-bottom: 2rem;
  padding: .5rem;
}

.home-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.home-subtext h3 {
  font-weight: 500;
}

.search-wrapper {
  width: 75%;
  height: 100px;
  padding: 17px;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  margin-bottom: 4rem;
}

.search-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.listing-search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #ebebeb;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  padding-left: 1rem;
  padding-right: 1rem;
}

.listing-search-input:focus {
  outline: none;
}

#listings {
  height: 66px;
  width: 100%;
  border: none;
}

.dates-btn, .categories-btn {
  display: flex;
  align-items: center;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid #ebebeb;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  height: 66px;
  cursor: pointer;
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.dates-btn:hover, .categories-btn:hover {
  border-color: #ebebeb;
  background-color: transparent;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.1);
  -moz-transition: all 0.2s ease 0s;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.search-btn {
  width: 110px;
  margin-left: 1rem;
  height: 66px;
  background-color: #40d9ac;
	color: white;
  cursor: pointer;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
	border: 1px solid #40d9ac;
	font-weight: 700;
}

.search-btn:hover {
  width: 110px;
  margin-left: 1rem;
  height: 66px;
  background-color:white;
	color: #40d9ac;
	-moz-transition: all 0.25s ease 0s;
	-webkit-transition: all 0.25s ease 0s;
	transition: all 0.25s ease 0s;
	border: 3px solid #40d9ac;
	font-weight: 600;
}

.input-i {
  padding-right: 0.5rem;
}

.input-i-chev {
  padding-left: 0.5rem;
}

/* Campground Tiles Styles */

.campgrounds-wrapper {
  width: 75%;
}

.discover-subtext {
  width: 75%;
  padding: .5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
}

.index-dc-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.campground-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 300px;
  width: 50%;
  padding: 0 .5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.tile-link {
  height: 420px;
  text-decoration: none;
  color: #333333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 4px;
  -moz-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.tile-link:hover {
  background-color: #f9f9f9;
	transition: all 0.075s ease 0s;
}

.tile-picture {
  height: 300px;
  min-height:  300px;
  background-color: #ebebeb;
  background-position: center center;
  border-radius: 4px 4px 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.tile-details {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0.6rem;
}

.tile-name {
  font-size: 1rem;
}

.tile-name p {
  font-size: 1.2rem;
}

.tile-description {
  flex-grow: 1;
  color: #757575;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tile-description small {
  font-size: .9rem;
}

.tile-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.tile-recommend {
  color: #40d9ac;
  font-size: .9rem;
}

.recommend-text {
  color: #757575;
}

.price {
  font-size: 1.05rem;
}

.featured-camping {
  display: flex;
  justify-content: space-between;
  width: 75%;
  height: 420px;
}

.featured-site {
  width: 33%;
  position: relative;
  cursor: default;
}

.featured-site div {
  width: auto;
}

.featured-span {
  display: flex;
  align-items: center;
  position: absolute;
  top: .5rem;
  right: 0;
  padding: .25rem .5rem;
  border-radius: 5px 0 0 5px;
  background: white;
  -moz-box-shadow: -2px 3px 5px 1px rgba(0,0,0,0.1);
  -webkit-box-shadow: -2px 3px 5px 1px rgba(0,0,0,0.1);
  box-shadow: -2px 3px 5px 1px rgba(0,0,0,0.1);
}

.featured-span span, .featured-span i {
  padding-right: 5px;
}

.splash-testimonial {
  display: flex;
  justify-content: center;
  margin: 1rem 0 5rem 0;
}

.splash-testimonial {
  -moz-box-shadow: 0 7px 10px rgba(0,0,0,0.08);
  -webkit-box-shadow: 0 7px 10px rgba(0,0,0,0.08);
  box-shadow: 0 7px 10px rgba(0,0,0,0.08);
  padding-bottom: 5rem;
}

.testimonial-container {
  display: flex;
  justify-content: center;
  width: 75%;
}

.testimonial-content {
  display: flex;
  height: 300px;
  margin: .5rem;
  border: 1px solid #ebebeb;
}

.testimonial-image-container {
  position: relative;
  min-width: 268px;
}

.testimonial-image {
  position: absolute;
  height: 300px;
  top: 2rem;
  left: -2rem;
}

.quotes-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 3rem;
}

.quotes-wrapper h1 {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0 3rem;
}

blockquote {
  color: #757575;
  margin-bottom: 1rem;
}

.testimonial-host-link {
  text-decoration: none;
  font-size: .8rem;
  color: #333333;
  border-bottom: 1px solid #ebebeb;
  -moz-transition: all 0.25s ease 0s;
  -webkit-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  width: fit-content;
}

.testimonial-host-link:hover {
  border-bottom: 1px solid #333333;
}

.testimonial-cta {
  position: relative;
  display: flex;
  justify-content: center;
  flex: 1;
}

.testimonial-discover-btn {
  position: absolute;
  bottom: -1.5rem;
}