.reservation-deets-wrapper {
  position: relative;
  top: -2rem;
  padding: 1rem;
  background: white;
  line-height: 2rem;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.reservation-deets-wrapper h2 {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-img {
  width: 100%;
  min-height: 10rem;
  background-size: cover;
  background-position: center;
}

.reservation-title {
  font-size: 1.4rem;
  padding: 1rem 0 .5rem;
}

.reservation-show-deets {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 0;
}

.reservation-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.reservation-ul {
  color: #757575;
  list-style: none;
  padding-left: 0;
}

.res-total {
  color: #333333;
}

.loader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 6px 0 0 0;
}

.login-wrapper {
  cursor: pointer;
  z-index: 20;
}

#top-of-site-pixel-anchor {
  position: absolute;
  width: 1px;
  height: 1px;
  top: 200px;
  left: 0;
}

body.cal-not-at-top #pending {
  position: sticky;
  top: 100px;
}

.prompt {
  position: relative;
  top: 1.8rem;
  height: 0;
  font-size: .9rem;
  font-weight: 300;
  text-align: center;
  color: white;
}

.subtotal-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  padding: 1rem;
  font-weight: 600;
}

.site-row {
  margin-top: .4rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.reservation-dates {
  margin-top: 1rem;
}

.reservation-checkin {
  display: flex;
  justify-content: space-between;
}

.reservation-checkout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.reservation-photo {
  margin-top: 1rem;
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.no-cursor {
  cursor: default;
}