.reservation-deets-wrapper {
  position: relative;
  top: -2rem;
  padding: 1rem;
  background: white;
  line-height: 2rem;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
}

.reservation-deets-wrapper h2 {
  margin-bottom: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-img {
  width: 100%;
  min-height: 10rem;
  background-size: cover;
  background-position: center;
}

.reservation-title {
  font-size: 1.4rem;
  padding: 1rem 0 .5rem;
}

.reservation-show-deets {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 0;
}

.reservation-item {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.reservation-ul {
  color: #757575;
  list-style: none;
  padding-left: 0;
}

.res-total {
  color: #333333;
}

.loader {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.loader-modal {
  margin: 6px 0 0 0;
}

.login-wrapper {
  cursor: pointer;
  z-index: 20;
}

