.searchbar-section {
  width: 100%;
  display: flex;
  justify-content: center;
}

.searchbar-wrapper {
  width: 75%;
}

.search-main div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: relative;
}

.input-i {
  position: absolute;
  padding-left: 1rem;
}

#listings {
  padding-left: 3rem;
  flex: 1;
  height: 66px;
  width: 100%;
  border: 1px solid #ebebeb;
}

.searchbar-section {
  width: 75%;
  padding: .5rem;
}

.search-wrapper {
  width: 100%;
  height: 100px;
  padding: 1rem;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
}

.search-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1.1rem;
}

.listing-search-input {
  display: flex;
  align-items: center;
  flex-grow: 1;
  border: 1px solid #ebebeb;
  -moz-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  box-shadow: 1px 2px 5px 0px rgba(0,0,0,0.1);
  padding-left: 1rem;
  padding-right: 1rem;
}

.pac-container {
  margin-left: 1px;
  font-family: Lato;
}

.pac-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 1rem;
  white-space: pre-wrap;
}

.pac-icon {
  margin: 0;
  width: 1rem;
  min-width: 1rem;
  line-height: 1.6;
}

.pac-item-query {
  min-width: 45%;
  padding-left: 1rem;
  font-size: .9rem;
  flex: 1;
}

.pac-item span:last-child {
  text-align: right;
}

.pac-container:after {
  display: none;
}

.nav-search-wrapper {
  display: flex;
}

.nav-search-main {
  padding-left: 2rem;
}

.nav-search-main div {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-search-input {
  padding-left: 3rem;
  flex: 1;
  height: 50px;
  width: 400px;
  border-radius: 4px;
  box-shadow: none;
  border: 1px solid #ebebeb;
}

.nav-search-btn {
  display: none;
}