.show-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.carousel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 0 1rem;
} 

.show-img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 480px;
}

.carousel-wrapper .slider[style]{
    height: 480px;
}

.carousel-wrapper .slider-list[style]{
    height: 480px !important;
}

.carousel-wrapper .slide-visible[style]{
    height: 250px !important;  
}

.show-content-bottom {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 80%;
}

.show-content-left {
  margin-right: 1rem;
  width: 66%;
}

.show-content-right {
  min-width: 350px;
}

#pending {
  position: relative;
}

#confirmed {
  background-color: #40d9ac;
  border: none;
  color: white;
  font-size: 1.3rem;
}

.price-row {
  height: 50px;
  margin-bottom: 1rem;
}

.day-rate {
  font-size: 1.4rem;
  color: #333333;
}

.price-deets {
  font-size: .8rem;
  color: #757575;
}

.checkout-btn {
  height: 50px;
  margin-top: 1rem;
}

.calendar-wrapper {
  position: relative;
  top: -30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: .6rem 1rem 1rem;
  min-width: 320px;
  background-color: white;
  border: 1px solid #ebebeb;
  box-shadow: 0 1px 5px rgba(0,0,0,0.05);
  z-index: 2;
}

.show-bold {
  font-weight: bolder;
}

#show-book {
  width: 100%;
  text-align: center;
}

.start-date {
  display: flex;
  flex-direction: column;
}

.end-date {
  display: flex;
  flex-direction: column;
}

.show-name {
  display: flex;
  align-items: center;
}

.verified {
  margin-left: 1rem;
  padding: .5rem;
  display: flex;
  justify-content: center;

  align-items: center;
  width: 1.5rem;
  border: .1rem solid #fff;
  height: 1.5rem;
  border-radius: 2rem;
  background-color: #4199ff;
  color: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
}

.strong-verified {
  color: #333333;
}

.tile-recommend {
  margin-bottom: 1.5rem;
  font-size: 1rem;
}

.show-description {
  width: 50%;
  flex: 1;
  padding: 1rem 0;
  margin-right: 1rem;
  font-size: 1rem;
}

.show-host-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
  border-top: 1px solid #ebebeb;
  margin-bottom: 1.5rem;
}

.host-ava {
  width: 100px;
  border-radius: 50%;
}

.host-details {
  padding: 0 2rem;
  min-width: fit-content;
}

.show-line-break {
  margin-right: 1.5rem;
}

.details-row {
  border-top: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  padding-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.show-ul {
  list-style: none;
}

.show-strong {
  font-weight: bolder;
}

.info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.info {
  color: #757575;
  width: 30%;
  border: 1px solid #ebebeb;
  padding: 15px 15px 15px 15px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  
}

.info-deets {
  display: flex;
  align-items: center;
  line-height: 2.6;
  white-space: nowrap;
  overflow: hidden;
}

.info-deets i {
  min-width: 1.6rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: .5rem;
}

.show-title {
  font-size: 1.4rem;
  color: #333333;
}

#listing-overlay {
  display: none;
  background-color: rgba(0,0,0,0.6);
  z-index: 1;
  position: fixed;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
}