.trips-whole-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.trips-container { 
  margin: 55px 0;
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.trips-left-panel {
  width: 33%;
}

body.cal-not-at-top #trip-sticky {
  position: sticky;
  top: 70px;
}

.bio-panel, .verified-panel {
  max-width: 280px;
  padding: 20px;
  border: 1px solid #ebebeb;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
}

.bio-panel {
  margin-bottom: 100px;
}

.bio-panel-header {
  display: flex;
  align-items: center;
}

.bio-img {
	height: 80px;
	width: 80px;
	padding: 10px;
	background: #ece9e9;
	border-radius: 50%;
  cursor: default;
  margin-right: 1rem;
}

.bio-username h2 {
  font-size: 1.2rem;
}

.bio-panel > div:not(:last-child), .verified-panel-text > p:not(:last-child) {
  margin-bottom: 1rem;
}

.verified-panel-text p:first-child {
  font-size: 1.2rem;
}

.icon {
  width: 16px;
  margin-right: 5px;
}

.gray-text {
  color: #757575;
}

.trips-right-panel {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.trips-right-panel h2 {
  border-bottom: 3px solid #40d9ac;
  width: max-content;
  margin-bottom: 1rem;
}

.future-trips-wrapper, .past-trips-wrapper {
  margin: 1rem 0 4rem;
}

.future-trip, .past-trip {
  max-width: 620px;
  padding: 20px;
  border: 1px solid #ebebeb;
  box-shadow: 1px 2px 5px 2px rgba(0,0,0,0.1);
  margin-bottom: 2rem;
  transition: .75s ease-in-out;
}

.future-trip:hover, .past-trip:hover {
  transition: .75s ease-in-out;
  box-shadow: 1px 4px 10px 4px rgba(0,0,0,0.1);
}

.trip-image-wrapper {
  position: relative;
  overflow: hidden;
  height: 300px;
  margin-bottom: 1rem;
}

.trip-image-wrapper:hover img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  }

.trip-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  object-fit: cover;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.trip-listing-name {
    position: relative;
    background: #40d9ac;
    padding: .5rem;
    border-radius: 0 0 10px;
    width: max-content;
    font-size: 1.2rem;
    font-variant: petite-caps;
    z-index: 1;
    color: white;
}

.trip-bottom {
  display: flex;
  justify-content: space-between;
}

.trip-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}